[submodule "backend"]
	path = backend
	url = git@github.com:ReCoFIIT/backend.git
[submodule "decision-module"]
	path = decision-module
	url = git@github.com:ReCoFIIT/decision-module.git
[submodule "car-integration"]
	path = car-integration
	url = git@github.com:ReCoFIIT/car-integration.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:ReCoFIIT/frontend.git
[submodule "car-simulator"]
	path = car-simulator
	url = git@github.com:ReCoFIIT/car-simulator.git
[submodule "integration-api"]
	path = integration-api
	url = git@github.com:ReCoFIIT/integration-api.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:ReCoFIIT/documentation.git
